<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Questions</h1>

  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Question</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
          <td><%= question.question %></td>
          <td><%= link_to 'Show', question, class: 'btn btn-success'%></td>
          <td><%= link_to 'Edit', edit_question_path(question), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Question', new_question_path,  class: 'btn btn-secondary'%>
</div>

