<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_area :rating %>
  </div>

  <div class="field">
    <%= form.label :Message %>
    <%= form.text_area :Message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
